body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #444;
	background-color: #f2f2f2;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
}

.header {
	text-align: center;
	margin-bottom: 50px;
}

.header h1 {
	font-size: 36px;
	margin: 0;
}

.header p {
	font-size: 18px;
	margin: 0;
}

.section {
	margin-bottom: 50px;
}

.section h2 {
	font-size: 24px;
	margin: 0 0 20px 0;
}

.experiences {
	margin-bottom: 20px;
}

.experiences h4 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.experiences p {
	font-size: 16px;
	margin: 0 0 5px 0;
}

.formations {
	margin-bottom: 20px;
}

.formations h4 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.formations p {
	font-size: 16px;
	margin: 0 0 5px 0;
}

.competences {
	margin-bottom: 20px;
}

.competences h4 {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.competences p {
	font-size: 16px;
	margin: 0 0 5px 0;
}